

<hi>Login Here</hi>
<style>
     body {
        font-family: "Open Sans", sans-serif;
        color:  #fff;
        background: #2b2b2b;
        font-size: 18px;
        flex-wrap: wrap;
        padding: 0;
       
    }
    
    h3{
        color:red;
        /* font-family: "Raleway", sans-serif */
        
    }
</style>
{% for message in messages %}
<h3>{{message}}</h3>
{%endfor%}


<form action="login"method="POST">
    {% csrf_token  %}
    <P>Username:</P>
    <input type="text" name="username"/>
    <p>Password:</p>
    <input type="password" name="password"/><br>

    <input type="submit"/>
</form>
