<h1>POST  YOUR ARTICLE </h1>
<div class="entry-content">
  
  
  <a href="#"></a>

  <p>
    <h2 class="entry-title">
      <a href="/post/{{post.id}}"></a>
      <a href="#">{{posts.title}}</a>
    </h2>
    
    </p>
    <br> <p>{{posts.body}}</p>
    <li><a href="#">{{posts.created_at}}</a></li><br>
  </a> 
  
  </div>


<!-- <div>
    <form class="form" method="POST" action="create-blog">
      {%csrf_token %}
      <input type="hidden" value="/" name="next"/>
      <!-- <p>Article_title:</p>
      <input type="text" name="Article_title"/>
     :</p> --> <!-- <p>Email
     -->
     <!-- <li><a href="#">
              
      <span>{{posts.title}}</span><br>
      <br> <p5>{{posts.body}}</p5><br>
       <br><span>{{posts.created_at}}0</span><br>
     </a></li>
     <p><title>{{post.title}}</title>:</p> -->
    <!-- <input type="text" name="username"/>

      <textarea class="form-control" name="content" placeholder={{post.body}}></textarea>

      <button type="submit"class=btn btn-primary>upload</button>

    </form> -->
  /

 -->